<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="bg-blue-500 p-4">
        <div class="container mx-auto flex items-center justify-between">
            <a class="text-white text-2xl font-semibold" href="/">Lego Collection</a>
            <div class="hidden sm:flex space-x-4">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <details>
                    <summary>Theme</summary>
                    <ul class="dropdown-menu">
                        <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                        <li><a href="/lego/sets?theme=Creator">Creator</a></li>
                        <li><a href="/lego/sets?theme=Town">Town</a></li>
                        
                    </ul>
                </details>
            </div>
        </div>

   <div class="container mx-auto">
    <div class="hero text-center py-8">
        <h1 class="text-4xl font-bold text-gray-800">About Me</h1>
        <p class="text-gray-600">All about me...</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <!-- Left column with your image -->
        <div class="border-2">
            <img src="./Images/MyImage.jpeg" alt="My Image" class="max-w-full h-auto">
        </div>
        <!-- Right column with a short blurb about yourself -->
        <div class="border-2 p-4">
            <p class="mb-2">Name: Aayushee Singh</p>
            <p class="mb-2">Email: asingh1221@myseneca.ca</p>
            <p class="mb-2">Student Number: 173927211</p>
            <p class="mb-2">Section: NBB</p>
            <p class="mb-2">Course: WEB322</p>
            <p class="mb-2">Program: CPP (Computer Programming Principles)</p>
        </div>
    </div>
</div>

</body>
</html>
